{% extends 'navigation_layout.html' %}
{% block content %}
<div>
    <div id="6e038cd254074abab3b5f07c483edc8f" class="chart-container" style="width:100%; height:800px;"></div>
    <script>
        var chart_6e038cd254074abab3b5f07c483edc8f = echarts.init(
            document.getElementById('6e038cd254074abab3b5f07c483edc8f'), 'white', {renderer: 'canvas'});
        var option_6e038cd254074abab3b5f07c483edc8f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u7ebf\u4e0a\u5b66\u4e60\u5b58\u5728\u8fd9\u79cd\u4e0d\u8db3",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                550262,
                221961,
                158548,
                497429,
                83542
            ],
            "showBackground": false,
            "stack": "stack1",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "inside",
                "color": "white",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "\u7ebf\u4e0a\u5b66\u4e60\u4e0d\u5b58\u5728\u8fd9\u79cd\u4e0d\u8db3",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                249736,
                578037,
                641450,
                302569,
                716456
            ],
            "showBackground": false,
            "stack": "stack1",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "inside",
                "color": "white",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7ebf\u4e0a\u5b66\u4e60\u5b58\u5728\u8fd9\u79cd\u4e0d\u8db3",
                "\u7ebf\u4e0a\u5b66\u4e60\u4e0d\u5b58\u5728\u8fd9\u79cd\u4e0d\u8db3"
            ],
            "selected": {
                "\u7ebf\u4e0a\u5b66\u4e60\u5b58\u5728\u8fd9\u79cd\u4e0d\u8db3": true,
                "\u7ebf\u4e0a\u5b66\u4e60\u4e0d\u5b58\u5728\u8fd9\u79cd\u4e0d\u8db3": true
            },
            "type": "scroll",
            "show": true,
            "right": "right",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u7ebf\u4e0a\u5b66\u4e60\u7684\u4e0d\u8db3",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 15
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e0d\u5982\u8bfe\u5802\u6559\u5b66\u6548\u679c\u597d",
                "\u89c6\u9891\u8bfe\u7a0b\u8d44\u6e90\u8d28\u91cf\u53c2\u5dee\u4e0d\u9f50",
                "\u5b66\u4e60\u8d1f\u62c5\u52a0\u91cd",
                "\u7f3a\u4e4f\u5e08\u751f\u4e92\u52a8",
                "\u5176\u4ed6"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u4eba\u6570",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u7ebf\u4e0a\u5b66\u4e60\u4e0d\u8db3\u7684\u8ba4\u540c\u60c5\u51b5",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "grid": [
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        }
    ]
};
        chart_6e038cd254074abab3b5f07c483edc8f.setOption(option_6e038cd254074abab3b5f07c483edc8f);
            window.addEventListener('resize', function(){
                chart_6e038cd254074abab3b5f07c483edc8f.resize();
            })
    </script>
</div>
{% endblock content %}
