{% extends 'navigation_layout.html' %}
{% block content %}
<div>
    <div id="f4925cbe04ca4d59a9aa9557714a9ae5" class="chart-container" style="width:100%; height:800px;"></div>
    <script>
        var chart_f4925cbe04ca4d59a9aa9557714a9ae5 = echarts.init(
            document.getElementById('f4925cbe04ca4d59a9aa9557714a9ae5'), 'white', {renderer: 'canvas'});
        var option_f4925cbe04ca4d59a9aa9557714a9ae5 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u5b8c\u5168\u4e0d\u9700\u8981",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "1",
                    [
                        0.07742926080280764
                    ]
                ],
                [
                    "2",
                    [
                        0.15570727730627576
                    ]
                ],
                [
                    "3",
                    [
                        0.23407261517383113
                    ]
                ],
                [
                    "4",
                    [
                        0.36306698312236285
                    ]
                ],
                [
                    "5",
                    [
                        0.47642982445226867
                    ]
                ],
                [
                    "6",
                    [
                        0.5877956574725794
                    ]
                ],
                [
                    "7",
                    [
                        0.6741163198796691
                    ]
                ],
                [
                    "8",
                    [
                        0.7455603184323332
                    ]
                ],
                [
                    "9",
                    [
                        0.7754866659165073
                    ]
                ],
                [
                    "10",
                    [
                        0.8559328869887876
                    ]
                ],
                [
                    "11",
                    [
                        0.8911463271479525
                    ]
                ],
                [
                    "12",
                    [
                        0.867119782064335
                    ]
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u6709\u65f6\u9700\u8981",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "1",
                    [
                        0.6265262850040213
                    ]
                ],
                [
                    "2",
                    [
                        0.6776236297730482
                    ]
                ],
                [
                    "3",
                    [
                        0.6527801564194782
                    ]
                ],
                [
                    "4",
                    [
                        0.5682225738396625
                    ]
                ],
                [
                    "5",
                    [
                        0.47992584943453975
                    ]
                ],
                [
                    "6",
                    [
                        0.3814882980575522
                    ]
                ],
                [
                    "7",
                    [
                        0.3038731511657057
                    ]
                ],
                [
                    "8",
                    [
                        0.23557602705077346
                    ]
                ],
                [
                    "9",
                    [
                        0.20634072240351076
                    ]
                ],
                [
                    "10",
                    [
                        0.12910381543921917
                    ]
                ],
                [
                    "11",
                    [
                        0.0966183574879227
                    ]
                ],
                [
                    "12",
                    [
                        0.1145813268759803
                    ]
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u5b8c\u5168\u9700\u8981",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "1",
                    [
                        0.296044454193171
                    ]
                ],
                [
                    "2",
                    [
                        0.16666909292067605
                    ]
                ],
                [
                    "3",
                    [
                        0.11314722840669064
                    ]
                ],
                [
                    "4",
                    [
                        0.06871044303797469
                    ]
                ],
                [
                    "5",
                    [
                        0.043644326113191585
                    ]
                ],
                [
                    "6",
                    [
                        0.03071604446986843
                    ]
                ],
                [
                    "7",
                    [
                        0.02201052895462522
                    ]
                ],
                [
                    "8",
                    [
                        0.01886365451689342
                    ]
                ],
                [
                    "9",
                    [
                        0.018172611679981996
                    ]
                ],
                [
                    "10",
                    [
                        0.014963297571993224
                    ]
                ],
                [
                    "11",
                    [
                        0.012235315364124791
                    ]
                ],
                [
                    "12",
                    [
                        0.018298891059684654
                    ]
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5b8c\u5168\u4e0d\u9700\u8981",
                "\u6709\u65f6\u9700\u8981",
                "\u5b8c\u5168\u9700\u8981"
            ],
            "selected": {
                "\u5b8c\u5168\u4e0d\u9700\u8981": true,
                "\u6709\u65f6\u9700\u8981": true,
                "\u5b8c\u5168\u9700\u8981": true
            },
            "type": "scroll",
            "show": true,
            "right": "right",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u5e74\u7ea7",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u4eba\u6570\u5728\u8be5\u5e74\u7ea7\u7684\u5360\u6bd4",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5b66\u751f\u5e74\u7ea7\u4e0e\u5bf9\u5bb6\u4eba\u966a\u4f34\u7684\u9700\u8981\u4e4b\u95f4\u7684\u5173\u7cfb",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "grid": [
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        }
    ]
};
        chart_f4925cbe04ca4d59a9aa9557714a9ae5.setOption(option_f4925cbe04ca4d59a9aa9557714a9ae5);
            window.addEventListener('resize', function(){
                chart_f4925cbe04ca4d59a9aa9557714a9ae5.resize();
            })
    </script>
</div>
{% endblock content %}
